#notes-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* FILTER NOTES */
#filter-add-notes {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px var(--border) solid;
    padding: 20px;
    margin-top: 30px;
}

#filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-container>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    color: var(--secondary-text);
}

#filter-container>div select {
    height: 33px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--light-white);
    border: none;
    border-bottom: 3px var(--border) solid;
}

#filter-container>div input {
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--light-white);
    border: none;
    border-bottom: 3px var(--border) solid;
}

#filter-container>div input:focus {
    border-bottom: 3px var(--prym-blue-color) solid;
}

/* ADD NOTE */
#addNote-container button {
    padding: 15px;
    background: var(--prym-blue-color);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

#notes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.note {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 20px;
    position: relative;
}

.note-title {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    background-color: var(--light-white);
    width: 100%;
    padding: 10px 0px;
    z-index: 2;
}

.note-title p {
    font-weight: 800;
    padding: 0px 10px;
    text-align: center;
}

.note-body {
    width: calc(100% - 30px);
    min-height: calc(100% - 40px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 80%);
    transform: translateY(-15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    padding: 5px;
}

.note-body p {
    padding: 15px 10px 10px 10px;
    font-size: 15px;
    max-height: 100%;
}

.visibility {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 20px;
    bottom: 5px;
    border-radius: 50%;
}

.public {
    background-color: var(--response-ok);
}

.private {
    background-color: var(--response-bad);
}

.note-data {
    width: calc(100% - 15px);
    transform: translateY(-10px);
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--border) solid;
    border-radius: 5px;
}

.note-date {
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.note-date p:nth-child(1) {
    color: var(--secondary-text);
    font-size: 12px;
}

.note-date p:nth-child(2) {
    color: white;
    font-size: 15px;
    margin-left: 5px;
}

.note-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-buttons button {
    margin: 0px 2px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.note-btn {
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.button-edit {
    background-color: var(--light-white);
}

.button-share {
    background: linear-gradient(135deg, var(--prym-lightPurple-color) 0%, var(--prym-purple-color) 100%);
    color: var(--light-white);
}

.button-delete {
    background: linear-gradient(135deg, var(--prym-pink-color) 0%, var(--prym-red-color) 100%);
    color: var(--light-white);
}

.modal-delete {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal-delete-container {
    background: linear-gradient(135deg, var(--bg-light-container) 0%, var(--bg-dark-container) 100%);
    border-radius: 10px;
    border: 2px var(--border) solid;
    padding: 30px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 150px;
}

.modal-delete-container h3 {
    color: var(--warning);
    text-align: center;
}

.modal-delete-container div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.modal-delete-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 35px;
    color: var(--light-white);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.button-back-container {
    background: linear-gradient(45deg, var(--prym-lightPurple-color) 0%, var(--prym-purple-color) 100%);
}

.button-delete-container {
    background: linear-gradient(135deg, var(--prym-pink-color) 0%, var(--prym-red-color) 100%);
}

.modal-delete-container button svg {
    font-size: 20px;
    margin-right: 5px;
}